body{
	margin: 0;
}


.logo{
	position: absolute;

	width: 60px;
	height: 40px;
	left: 159px;
	top: 6px;
}
.homep{

	margin-left: 0px;
	margin-right: 0px;
	margin: 0px;


}
h1{
	position: relative;
		font-family: 'Varela', sans-serif;
		left: 13px;
		top: 0px;
		width: 340px;
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 0px;
		color: rgb(168,160,142);
}
.by2{
	position: relative;
	font-family: 'Varela', sans-serif;
	left: 13px;
		width: 340px;
		top: -4px;
			margin-bottom: 0px;
			margin-top: 3px;
	
		color: rgb(138,165,210);
}
.by3{
		position: relative;
	font-family: 'Varela', sans-serif;
	left: 13px;
		width: 340px;
		top: -4px;
			margin-bottom: 0px;
			margin-top: 3px;
			
	color: rgb(187,127,163);

}
.by4{
		position: relative;
	font-family: 'Varela', sans-serif;
	left: 13px;
		width: 340px;
		top: -4px;
			margin-bottom: 0px;
			margin-top: 3px;
		
		color: rgb(63,119,133);

}
.by5{
	position: relative;
	font-family: 'Varela', sans-serif;
	left: 13px;
		width: 340px;
		top: -4px;
			margin-bottom: 0px;
			margin-top: 3px;
			
		color: rgb(223,90,80);

}
.two{
		position: relative;
		font-family: 'Varela', sans-serif;
		left: 13px;
		top: 0px;
		width: 340px;
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 0px;
		color: rgb(138,165,210);
}
.three{
		position: relative;
		font-family: 'Varela', sans-serif;
		left: 13px;
		top: 0px;
		width: 340px;
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 0px;
		color: rgb(187,127,163);
}
.four{
		position: relative;
		font-family: 'Varela', sans-serif;
		left: 13px;
		top: 0px;
		width: 340px;
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 0px;
		color: rgb(63,119,133);
}
.five{
		position: relative;
		font-family: 'Varela', sans-serif;
		left: 13px;
		top: 0px;
		width: 340px;
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 0px;
		color: rgb(223,90,80);
}
.bar{
	position: relative;
	top: 0px;
	left:0px;
	background-color: rgb(168,160,142);
	width: 375px;
	height: 50px;
	margin: 0;
}
.bar2{
	position: relative;
	top: 0px;
	left:0px;
	background-color: rgb(138,165,210);
	width: 375px;
	height: 50px;
	margin: 0;
}
.bar3{
	position: relative;
	top: 0px;
	left:0px;
	background-color: rgb(187,127,163);
	width: 375px;
	height: 50px;
	margin: 0;
}
.bar4{
	position: relative;
	top: 0px;
	left:0px;
	background-color: rgb(63,119,133);
	width: 375px;
	height: 50px;
	margin: 0;
}
.bar5{
	position: relative;
	top: 0px;
	left:0px;
	background-color: rgb(223,90,80);
	width: 375px;
	height: 50px;
	margin: 0;
}

p{
	top: -15px;
	position: relative;
	color: rgb(0,0,0);
	font-family: 'Varela', sans-serif;
	font-size: 17px;
	width: 340px;
	left: 13px;
	margin-bottom: 10px;

}
h3{
	position: relative;
	font-family: 'Varela', sans-serif;
	left: 13px;
		width: 340px;
		top: -4px;
			margin-bottom: 0px;
			margin-top: 3px;
			color: rgb(168,160,142);
}
.fullbleed{
	position: relative;
height: 240px;
left: 0px;
top: 0px;
	width: 375px;
	margin: 0px;

}


.pull {
	font-size: 32px;
	color: rgb(168,160,142);
margin-bottom: 3px;
			margin-top: 15px;
font-family: 'Passion One', cursive;
line-height: 28px;
left: 30px;
}
.pull2 {
	font-size: 32px;
	color: rgb(138,165,210);
margin-bottom: 3px;
			margin-top: 15px;
font-family: 'Passion One', cursive;
line-height: 28px;
left: 30px;
}
.pull3 {
	font-size: 32px;
	color: rgb(187,127,163);

margin-bottom: 3px;
			margin-top: 15px;
font-family: 'Passion One', cursive;
line-height: 28px;
left: 30px;
}
.pull4 {
	font-size: 32px;
	color: rgb(63,119,133);

margin-bottom: 3px;
			margin-top: 15px;
font-family: 'Passion One', cursive;
line-height: 28px;
left: 30px;
}
.pull5 {
	font-size: 32px;
color: rgb(223,90,80);

margin-bottom: 3px;
			margin-top: 15px;
font-family: 'Passion One', cursive;
line-height: 28px;
left: 30px;
}


.buttons {
	position: relative;
	width: auto;
	height: 86px;
	left: 0px;
}